.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-img {
  width: 16rem;
}

.card-size {
  width: 16rem;
  margin: .5rem;
  color: black;
}

.details-image {

  max-width: 100%;
}

.slider-image {
  width: 100%;
  opacity: .3;
}

.slider-img-title {
  background-color: transparent;
  color: white;
  z-index: 1;
  position: absolute;
  marign: auto;
  left: 0;
  right: 0;
  top: 40vh;
}
.h1.ant-typography {
  color:white !important;
}


.recipe-slider {
  z-index: 0;
  position: relative;
}

.login-container {
  marign: auto;
  left: 0;
  right: 0;
  top: 40vh;
}

.followers-badge {
  margin-right: 1rem;
  margin-left: 1rem;
}